<div class="header bg-primary-1">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary-1 border-bottom">
      
    <div class="container-fluid py-8 ">
     
        <h1 class="mb-0 me-9 d-flex align-items-center">
            <a class="navbar-brand text-logo fs-3" href="index.html">Vector</a>
        </h1>
      
        <button class="navbar-toggler rounded " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse mt-6 mt-lg-0 " id="navbarTogglerDemo02">
          <div class=" d-flex d-lg-none justify-content-end mb-6">
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>
          
          <form class="d-flex position-relative nav-search-w">
          <input class="form-control rounded-pill " type="search" placeholder="搜尋文章" aria-label="Search">
          <button class="btn text-success border-0 rounded position-absolute end-0 top-50 translate-middle-y " type="submit">
            <i class="bi bi-search "></i>
          </button>
          </form>
          
          <ul class="navbar-nav ms-auto mt-lg-0 mt-6  mb-9 mb-lg-0 d-flex justify-content-between align-items-lg-center gap-5">
            
            
          <li class="nav-item ">
              <a class="nav-link active py-2 fw-bold subscription-active" aria-current="page" href="article.html">所有文章</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-2 fw-bold " href="subscription.html">訂閱方案</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-2 fw-bold subscription-active" href="#">關於我們</a>
            </li>
            
            
          </ul>
          <button class="btn btn-success py-2 px-6 ms-0 ms-lg-5 nav-login-w">
            <a class="nav-link text-white    fw-bold " href="#">登入 / 註冊</a>
         </button>
        </div>
      
    </div>
  </nav>
</div>
</div>

